
<body>

    <ul id="table">
        <li><a asp-area="Administration" asp-controller="Users" asp-action="Users">All Users</a></li>
        <li><a asp-area="Administration" asp-controller="Product" asp-action="Create">Add Product</a></li>
        <li><a asp-area="Administration" asp-controller="Product" asp-action="AllProducts">All Products</a></li>
        <li><a asp-area="Administration" asp-controller="Supplier" asp-action="AllSuppliers">All Suppliers</a></li>
    </ul>

</body>

<img src="~/images/apple-productos.png" style="width:100%;height:100%;padding: 7%">

@*<html>
<body background="apple-productos.png">
</body>
</html>*@